
{% extends 'monitoring/base.html' %}
{% load static %}


{% block content %}
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #ffffff !important;
        }

        .user_card {
            width: 350px;
            display: block;
            margin: auto;
            background: #3f56a8;
            position: relative;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;

        }

        .form_container {
            margin-top: 20px;
        }
        .container-fluid{
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: #2f4187;
            background: #fff;
        }
        #form-title {
            color: #fff;
        }

        .login_btn {
            width: 100%;
            background: #335fff !important;
            color: white !important;
        }

        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .login_container {
            padding: 0 2rem;
        }

        .input-group-text {
            background: #2e92d4 !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }

        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    </style>
<div class="container h-50 ">
    <div class="d-flex justify-content-center h-100  ">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title" class="fas fa-user-circle"> Регистрация аккаунта</h3>
            </div>
            <div class="d-flex justify-content-center">
            <h6 id="form-title" class="justify-content-center">Если у преподавателя есть аккаунт<a style="color: red" href="{% url 'create_teacher' %}"> заполните форму</a></h6></div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form.username }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form.password1 }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form.password2 }}
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container" >
                        <input class="btn login_btn"  type="submit" value="Зарегистрировать">
                    </div>
                </form>
            </div>
            {{ form.errors }}

        </div>

    </div>
</div>
{% endblock %}
