{% extends 'monitoring/base.html' %}

{% block content %}
    <div id="card-deck" class="row row-cols-1">
        {% for activity in activity %}
            <div class="card" style="margin: 20px; width: 15%">
                <div class="card-body">
                    <h5 class="card-title">{{ activity.teachers }}
                        <p></p>
                        {{ activity.events }}</h5>

                </div>

<div class="card-footer">
                    <small class="text-muted">
                        <a style="margin: 2px; font-size: 13px" href="#"
                           class="btn btn-success" role="button" aria-pressed="true">Прикрепить преподавателю</a>
                        <a style="margin: 2px; font-size: 13px" href="{% url "activity_update" activity.id %}"
                           class="btn btn-warning" role="button" aria-pressed="true">Редактировать событие</a>
                        <a style="margin: 2px; font-size: 13px" href="{% url "activity_delete" activity.id %}"
                           class="btn btn-danger" data-tarole="button"
                           aria-pressed="true">Удалить событие</a>
                    </small>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock content %}