{% extends 'monitoring/base.html' %}
{% block content %}
    <div class="teacher_detail_content col-md-5 ">
        <div class="row">
            <div class="desc1-left col-md-6 pl-lg-4">
                <h3 class="list-group-item" style="text-align: center">
                    <b>Название мероприятия: </b>
                    <br>
                    {{ event.event_name }}
                     <p style="padding-bottom: 1px"></p>

                </h3>
                <p style="padding-bottom: 20px"></p>
                <ul style="text-align: left">
                    <li class="list-group-item">
                        <span><b>Преподаватель, которому присвоено событие: </b> {{ activity.get.teachers }}</span>
                    </li>
                     <p style="padding-bottom: 20px"></p>
                    <li class="list-group-item">
                        <span><b>Категория мероприятия: </b> {{ event.tags}}</span></li>
                    <p style="padding-bottom: 1px"></p>

                    <li class="list-group-item">
                        <span><b>Дата начала мероприятия: </b> {{ event.date_start }}</span>
                    </li>

                    <p style="padding-bottom: 1px"></p>
                    <li class="list-group-item">
                        <span><b>Дата окончания мероприятия: </b> {{ event.date_end }}</span>
                    </li>

                    <p style="padding-bottom: 1px"></p>
                    <li class="list-group-item">
                        <span><b>Роль преподавателя в мероприятии: </b> {{ event.teacher_role }}</span>
                    </li>
                    <p style="padding-bottom: 1px"></p>
                    <li class="list-group-item">
                        <span><b>Подтверждающий документ: </b> {{ event.document_for_event }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

