{% extends 'monitoring/base.html' %}
{% block content %}
        <div class="block_content  py-md-3">
                <h1 class="display-1">Информационная панель</h1>
            <div class="row">

                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h4 class="display-10">Количество всех событий в техникуме</h4>
                        <p class="lead">
                            {{ num_events }}</p>
                    </div>
                </div>
                <p></p>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h4 class="display-10">Количество сотрудников в техникуме</h4>
                        <p class="lead">

                            {{ num_teachers }}</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}