{% extends 'monitoring/base.html' %}

{% block content %}
    <div id="card-deck" class="row row-cols-1">
            <div class="card" style="margin: 20px; width: 15%">
                {% if user.is_authenticated %}
                <h5 class="card-title"> Логин: {{ user.username }}
                    <p></p>
                    {{ user.first_name }}
                    {{ user.last_name }}
                    {{ user.email }}
                </h5>
                {% endif %}
        </div>
    </div>
{% endblock content %}