{% extends 'monitoring/base.html' %}

{% block content %}
    <div id="card-deck" class="row row-cols-4">
        {% for teacher in teacher %}
            <div class="card" style="margin: 20px; width: 15%">
                <img src="{{ teacher.photo.url }}" class="img_card_teacher" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ teacher.second_name }}
                        <p></p>
                        {{ teacher.first_name }}
                        {{ teacher.father_name }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{% url 'teacher_detail' teacher.id %}"
                                                       class="card-link">Профиль преподавателя</a></li>

                    </ul>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a style="margin: 2px; font-size: 13px"
                                                 href="{% url "teacher_update" teacher.id %}"
                                                 class="btn btn-warning" role="button" aria-pressed="true">Редактировать
                        преподавателя</a>
                        <a style="margin: 2px; font-size: 13px" href="{% url "teacher_delete" teacher.id %}"
                           class="btn btn-danger" data-tarole="button"
                           aria-pressed="true">Удалить
                            преподавателя</a>
                    </small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}