<!-- //footer -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-center">© 2020 Шелудченко Илья. All rights reserved | Design by
                <a href="https://www.artlebedev.ru/"> Артемий Лебедев.</a>
            </p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span
                    class="fa fa-long-arrow-up " aria-hidden="true"></span></a>
        </div>
    </div>
</div>

